.nav{
    
    padding: 2% 8%;

}
a.nav-item.nav-link.active {
    color: white;
    text-decoration: none;
}
a.navbar-brand {
    color: white;
}
.marginNav{
    margin-left: 40%;
}
.nameMargin{
    padding-left: 10%;
}