 .row{
    height: 90Vh;
   
}
@media only screen and (max-width: 600px) {
    .background{
        height: 100%;
        
    }
  }

.background{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}